@import '../utils/variables';

.footer {
  background-color: $footer-background-color;

  &__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
      align-items: baseline;
    }
  }

  &__logo {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;

    color: $main-white-color;
  }

  &__item {
    line-height: 1.5;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link {
    color: $footer-contact-color;

    font-style: normal;

    transition: $transition;
    transition-property: color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__link--location {
    font-size: 14px;
    color: $main-white-color;

    font-style: normal;
  }

  &__social-wrap {
    @media screen and (min-width: $desktop) {
      margin-left: auto;
    }
  }

  &__join-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-white-color;
    margin-bottom: 20px;
    text-align: center;
  }

  &__form-wrap {
    @media screen and (min-width: $desktop) {
      margin-left: auto;
    }
    //margin-left: 93px;
  }
}

.address-wrap {
  text-align: center;
}
