@import '../utils/variables';

.header {
  border-bottom: 1px solid $header-border-color; //Var(--header-border-color);
  @media screen and (width: ($tablet - 1px)) {
    position: relative;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: ($tablet - 1px)) {
    min-height: 60px;
  }

  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
  //flex-direction: column;

  //align-items: center;
  //justify-content: center;
}

.menu-button,
.btn-close-menu {
  display: none;
  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-container {
  @media screen and (max-width: ($tablet - 1)) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 560px;
    padding: 48px 40px;
    background-color: $main-white-color;
    overflow-x: auto;
    z-index: 99;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
  }
}

.btn-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.menu-icon {
  fill: currentColor;
}

.header__social {
  display: none;
  @media screen and (max-width: ($tablet - 1)) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &-link {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.22;
      letter-spacing: 0.02em;

      color: $accent-color;
    }

    &-item {
      position: relative;
    }

    &-item:not(:first-child)::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      position: absolute;
      left: -10px;
    }
  }
}
