@import '../utils/variables';
@import '../utils/mixins';

.hero {
  max-width: 1600px;
  height: 400px;
  padding: 118px 0;
  margin: auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-480.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-480x2.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-768.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-768x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-1600.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-1600x2.jpg);
  }
}

.hero {
  text-align: center;
  height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: $footer-background-color; //var(--footer-background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/hero/hero-480.jpg);

  // @include retina {
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/hero/hero-480x2.jpg);
  // }

  // @media screen and (min-width: ($mobile + 1)) {
  //   //от мобильной до таблета
  //   background-color: $footer-background-color; //var(--footer-background-color);
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/hero/hero-768.jpg);

  //   @include retina {
  //     background-position: center;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url(../images/hero/hero-768x2.jpg);
  //   }
  // }

  // @media screen and (min-width: ($tablet + 1)) {
  //   //от таблета и дальше
  //   //height: 600px;

  //   background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/hero/hero-1600.jpg);

  //   @include retina {
  //     background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //       url(../images/hero/hero-1600x2.jpg);
  //   }

  //   background-color: $footer-background-color; //var(--footer-background-color);
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }

  @include desktop {
    height: 600px;
  }

  &__section {
    padding-top: 118px;
    padding-bottom: 118px;

    @include desktop {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &__title {
    max-width: 360px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      font-weight: 900;
      line-height: 1.3637;
      max-width: 696px;
    }

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white-color; //var(--main-white-color);
  }
}
