$main-text-color: #757575; //--main-text-color: #757575;
$title-color: #212121; //--title-color: #212121;
$accent-color: #2196f3; //--accent-color: #2196f3;
$main-white-color: #ffffff; //--main-white-color: #ffffff;
$main-background-color: #ffffff; //--main-background-color: #ffffff;
$contact-color: #757575; //--contact-color: #757575;
$footer-contact-color: rgba(255, 255, 255, 0.6); //--footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a; //--footer-background-color: #2f303a;
$filter-button-background: #f5f4fa; //--filter-button-background: #f5f4fa;
$secondary-section-background: #f5f4fa; //--secondary-section-background: #f5f4fa;
$header-border-color: #ececec; //--header-border-color: #ececec;
$gallery-item-border: #eeeeee; //--gallery-item-border: #eeeeee;
$social-icons-color: #afb1b8; //--social-icons-color: #afb1b8;
$footer-social-background: rgba(255, 255, 255, 0.1);
//--footer-social-background: rgba(255, 255, 255, 0.1);
$button-focused: #188ce8; //--button-focused: #188ce8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); //--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
